@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root{
    --main-bg-color: #2874f0;
}
*{
    margin: 0;
    padding: 0;
}
header{
    height: 70px;
    background: var(--main-bg-color);
    /* border: 2px solid red; */
    font-family: 'Lato', sans-serif;
}
footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;

    
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
   
}
.logo img{
    width: 88px;
    padding: 0 25px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    /* display: inline-block; */
    padding: 0 15px;
}
nav ul li a:hover{
    
    font-weight: bolder;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.searchbar{
    display: flex;
    align-items: center;
    
}
.searchbar input{
    height: 27px;
    width: 30vw;
    border-radius: 2px;
    margin: 0 16px 0 56px;
    padding: 0px 10px;

}
.searchbar button{
    font-family: 'Lato', sans-serif;
    font-weight: 900px;

}
.slider{
    margin: 12px auto;
    width: 80vw;
    cursor: pointer;
    overflow: hidden;
}

.card{
    /* background-color:rgb(233, 229, 229); */
    max-width: 91vw;
    margin: 34px auto;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}
.cards{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    overflow: hidden;
}
.card h2{
    font-family: 'Lato', sans-serif;

}
.lines{
    font-family: 'Lato', sans-serif;
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
    /* width: 11vw; */
}
/* .item img:hover{
    height: 170px;
    width: 170px;
} */
/* .item:hover{
    height: 100px;
    width: 100px;
} */



.container{
    min-height: calc(100vh - 58px - 12vh);
}
